<h1> Display this, you have signed in so you can buy products now!!! </h1>
<%= link_to 'Add new product', new_product_path %>
<% @products.each do |product| %>
  <table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><p>add to cart</p></td>
    </tr>
  </table>

<% end %>
